<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <img src="./assets/Students-Croner.png" class="card-img-top" alt="..." id="image1">
    <h4 id="navstu"><i>Students-Corner</i></h4>
    <img src="./assets/cart.jpg" class="card-img-top" alt="..." id="image1">
    <h4 id="navstu"><i>Cart</i></h4>
  </ul>
</nav>
<div class="container">
<div class="container1">  
    <div class="card" style="width: 18rem;">
        <img src="https://cdn.kobo.com/book-images/6750d058-29cb-4626-9c12-a62e816a80cc/1200/1200/False/harry-potter-and-the-philosopher-s-stone-3.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Harry Potter Book ₹250</h2>
          <ul>
            <li>
                Harry Potter Book in less price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/71jkWIlnRQL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Drishti IAS Book ₹499</h2>
          <ul>
            <li>
                IAS Books in less price
            </li>
          </ul>
          <button class="button" >Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://rukminim2.flixcart.com/image/850/1000/kpwybgw0/book/x/2/a/drawing-books-for-kids-5-to-7-years-original-imag4fwyncw38rhh.jpeg?q=20" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Drawing Book ₹200</h2>
          <ul>
            <li>
                Kids Drawing Books In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://ncert.nic.in/textbook/pdf/ihks1cc.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>9th Ncert Hindi ₹399</h2>
          <ul>
            <li>
                9th Ncert Hindi Book in less price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="card" style="width: 18rem;">
        <img src="https://ncert.nic.in/textbook/pdf/iemo1cc.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>9th Ncert English ₹499</h2>
          <ul>
            <li>
                9th Ncert English Book in less price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/71AuVi-QIuL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Full Stack Book ₹799</h2>
          <ul>
            <li>
                Full Satck Book in less price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://mbassets.b-cdn.net/cdni/book-cover/1592205709_085434300.jpg?w=200&q=50" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>English Novels ₹200</h2>
          <ul>
            <li>
                English Novels In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://edtimes.in/wp-content/uploads/2015/02/Godaan_1406366479.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Hindi Novels ₹200</h2>
          <ul>
            <li>
                Hindi Novels In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>

    </div>
     
    <div class="container3">

      <div class="card" style="width: 18rem;">
        <img src="https://5.imimg.com/data5/SELLER/Default/2021/8/WQ/MG/SP/406451/sundaram-winner-king-note-book-one-line-76-pages-e-14--500x500.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>One line Note-Book ₹99</h2>
          <ul>
            <li>
              One line Note-Book In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.bigbasket.com/media/uploads/p/m/800432837-2_2-sundaram-notebook-two-line-brown-winner-e-7a.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Two line Note-Book ₹119</h2>
          <ul>
            <li>
              Two line Note-Book In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNI84nMSuG5Uq_t1z7GZmLQkb7QLSzkRZ6WA&usqp=CAU" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Rough Note-Book from ₹49</h2>
          <ul>
            <li>
             Rough Note-Book In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://5.imimg.com/data5/SELLER/Default/2022/8/VY/IV/MR/157559569/classmate-spiral-notebook.jpg" class="card-img-top" alt="..." class="img">
        <div class="card-body">
          <p class="card-text"><h2>Spiral Binding Note-Book ₹99</h2>
          <ul>
            <li>
              Spiral Binding Note-Book In Less Price
            </li>
          </ul>
          <button class="button">Buy Now</button>
          <button class="button">Add to Cart</button>
        </div>
      </div>

    </div>

<div class="container4">
  <div class="card" style="width: 18rem;">
    <img src="https://helloaugust.in/wp-content/uploads/2021/05/papergrid-notebook-queen-size-a4-size-224-pages.jpg" class="card-img-top" alt="..." class="img">
    <div class="card-body">
      <p class="card-text"><h2>A4 Size Note-Book ₹89</h2>
      <ul>
        <li>
          A4 Size Note-Book In Less Price
        </li>
      </ul>
      <button class="button">Buy Now</button>
      <button class="button">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://rukminim2.flixcart.com/image/850/1000/k1wgx3k0/diary-notebook/2/n/a/classmate-a3-size-register-5gameorange-original-imafhdcdsvzadtvc.jpeg?q=90" class="card-img-top" alt="..." class="img">
    <div class="card-body">
      <p class="card-text"><h2>A3 Size Note-Book ₹69</h2>
      <ul>
        <li>
          A3 Size Note-Book In Less Price
        </li>
      </ul>
      <button class="button">Buy Now</button>
      <button class="button">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://institute.callensaxen.com/wp-content/uploads/2022/11/31Aug_DelhiMetro_pg6_1_Frontpg-1-720x480.jpg" class="card-img-top" alt="..." class="img">
    <div class="card-body">
      <p class="card-text"><h2>English Newspaper 10 days ₹39</h2>
      <ul>
        <li>
          English Newsapaper In Less Price
        </li>
      </ul>
      <button class="button">Buy Now</button>
      <button class="button">Add to Cart</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://d2na0fb6srbte6.cloudfront.net/read/imageapi/coverforissue/3757134/newspaper/600" class="card-img-top" alt="..." class="img">
    <div class="card-body">
      <p class="card-text"><h2>Hindi Newspaper 10 days ₹39</h2>
      <ul>
        <li>
          Hindi Newsapaper In Less Price
        </li>
      </ul>
      <button class="button">Buy Now</button>
      <button class="button">Add to Cart</button>
    </div>
  </div>
 
</div>

    </div>