<nav>
    <ul id="ul1">
      <li id="li1"><a routerLink="/">Home</a></li>
      <li id="li1"><a routerLink="/about">About</a></li>
      <li id="li1"><a routerLink="/contact">Contact</a></li>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Toggle dropdown
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
        </div>
      </div>

      <img src="./assets/Students-Croner.png" class="card-img-top" alt="..." id="image1">
      <h4 id="navstu"><i>Students-Corner</i></h4>
      <img src="./assets/cart.jpg" class="card-img-top" alt="..." id="image1">
      <h2 id="navstu"><i><b>Cart</b></i></h2>
    </ul>
  </nav>
  <div class="card" style="width: 18rem;" id="contact">
    <img src="./assets/Students-Croner.png" class="card-img-top" alt="..." id="image">
    <div class="card-body"id="detail1">
      <h4 id="Student"class="card-title"><i>Students-Corner</i></h4>
        <ul>
        <li>
        Contact No = 7869700000
        </li>
        <li>
        Email = studentscorner@gmail.com
        </li>
        <li>
        Address = 455,Scheme no. 54 Indore
        </li>
        <li>
        Company = Geeta Publishing Pvt. Ltd.
        </li>
    </ul>
    </div>
  </div>