<nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <img src="./assets/Students-Croner.png" class="card-img-top" alt="..." id="image1">
      <h4 id="navstu"><i>Students-Corner</i></h4>
      <img src="./assets/cart.jpg" class="card-img-top" alt="..." id="image1">
      <h4 id="navstu"><i>Cart</i></h4>
    </ul>
  </nav>
  <div class="aboutus">
        <div  id='ab1' >
        <div class="accordion accordion-flush" id="accordionFlushExample">
       <h1 id="about">About Us</h1>
        <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
           <b id="idupte"><h4>Students-Corner</h4></b>
         </button>
       </h2>
       <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">In Students-Corner we have a latest and new collection of Books, Notes ,Novels Etc . We Have All The Collection in lowest Price. So To Get the latest Collection of Books in lowest price Please Be Connected With Us . Be Updated Always </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           <b id="idmen"><h4>Books Collection</h4></b>
         </button>
       </h2>
       <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">We have all the latest collection of Books in suitable and lowest price. We have A collection Of Books Like Goevrnment Exams, Novels, Ncert's, Collages, India-History, Great Leaders, Poems, Poetry and Great Writers.
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <b id="idwomen"> <h4>Notebooks Collection</h4></b>
         </button>
       </h2>
       <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body">We have all the latest collection of Note-Books in suitable and lowest price. We have A collection Of Noteooks Like One-liner, Two-liner, Box, Rough-Notebooks, White-Pages, Yellow_page, Balck Page, Palin Paper , A-4 Size , A-3 Size and Registers.</div>
       </div>
     </div>
   </div>

   </div>
  </div>
